@font-face {
  font-family: 'LEGOTypewell';
  src: url('https://cdn.jsdelivr.net/gh/MaxenceIT/Homebrewery/LHistoireDuDragonRouge/fonts/LEGOTypewell-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LEGOTypewellBold';
  src: url('https://cdn.jsdelivr.net/gh/MaxenceIT/Homebrewery/LHistoireDuDragonRouge/fonts/LEGOTypewell-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LEGOTypewellBlack';
  src: url('https://cdn.jsdelivr.net/gh/MaxenceIT/Homebrewery/LHistoireDuDragonRouge/fonts/LEGOTypewell-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}