@font-face {
  font-family: 'LEGOTypewell';
  src: url('fonts/LEGOTypewell-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LEGOTypewellBold';
  src: url('fonts/LEGOTypewell-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LEGOTypewellBlack';
  src: url('fonts/LEGOTypewell-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LEGOTypewellItalic';
  src: url('fonts/LEGOTypewell-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LEGOTypewellLight';
  src: url('fonts/LEGOTypewell-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LEGOTypewellCondensed';
  src: url('fonts/LEGOTypewellCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}